@import "tailwindcss";

@theme {
  --color-primary: #D9D9D9;
  --color-secondary: #263652;
  --color-accent: #B77E23;
  --color-lightaccent: #C2AA71;
  --color-accent2: #6F2F06;

  --font-biryani: "Biryani", sans-serif;
  --font-openSans: "Open Sans", sans-serif;
}
